<div class="container">

  <div fxLayout fxLayoutAlign="space-between center">
    <h3 class="md-title">
      <!-- {{'titulo_listagem' | transloco}} -->
      Cadastro de Cavaletes
    </h3>

    <button mat-raised-button class="botaoAbreModal" (click)="openModal()">
      <span class="material-icons">
        person_add
      </span>
      Incluir
      <!-- {{'btn_novo' | transloco}} -->
    </button>

  </div>

  <div fxLayout fxLayoutAlign="space-between center">

    <mat-form-field flex class="md-icon-float md-block md-title">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="doFilter($event)">
    </mat-form-field>
    <!-- <div class="bandeiras">
      <img src="assets/imagens/flags/ar.png" matTooltip="Español" (click)="changeSiteLanguage('es')">
      <img src="assets/imagens/flags/br.png" matTooltip="Português" (click)="changeSiteLanguage('pt-BR')">
    </div> -->

  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="tipocavalete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <!-- {{'tipo' | transloco}} -->
        Tipo de Cavalete
      </th>
      <td mat-cell *matCellDef="let element"> {{element.tipocavalete}} </td>
    </ng-container>

    <ng-container matColumnDef="datacadastro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <!-- {{'data_cadastro' | transloco}} -->
        Data do cadastro
      </th>
      <td mat-cell *matCellDef="let element"> {{element.datacadastro | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="dataatualizacao">
      <th mat-header-cell *matHeaderCellDef>
        <!-- {{'data_alteracao' | transloco}} -->
        Data da alteração
      </th>
      <td mat-cell *matCellDef="let element"> {{element.dataatualizacao | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th class="th-center" mat-header-cell *matHeaderCellDef>
        <!-- {{'acoes' | transloco }} -->
        Ações
      </th>
      <td class="td-center" mat-cell *matCellDef="let element">
        <span class="material-icons botaoEdicaoListas" (click)="selecionaCavalete(element)"
          matTooltip="Editar">
          create
        </span>
        <span class="material-icons botaoExclusaoListas" (click)="excluiCavalete(element)"
          matTooltip="Excluir">
          delete_sweep
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>
